@media only screen and (max-width: 992px) and (min-width: 566px) {
  .s2_d1 {
    height: 350px;
  }
  .s2_d2 {
    height: 400px !important;
    width: 640px;
  }
  .s2-h6 {
    font-size: 15px;
  }
  .s2-h1 {
    font-size: 30px;
  }
  .s2-button {
    width: 160px;
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
  .s2_d2 {
    height: 400px !important;
    width: 100%;
  }
  .s7-d {
    text-align: center;
  }
  .s7_b {
    margin: auto;
  }
}

@media only screen and (max-width: 566px) and (min-width: 320px) {
  .s2-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 375px) and (min-width: 320px) {
  .s2_d2 {
    height: 300px !important;
    width: 100%;
  }
}
